@font-face {
  font-family: clashDisplayLight;
  src: url(fonts/ClashDisplay-Light.woff);
}
@font-face {
  font-family: clashDisplayRegular;
  src: url(fonts/ClashDisplay-Regular.woff);
}
@font-face {
  font-family: clashDisplayMedium;
  src: url(fonts/ClashDisplay-Medium.woff);
}
@keyframes fadeKey {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade1 {
  animation: fadeKey 3s;
}
.delay1 {
  animation-delay: 100ms;
}
.delay2 {
  animation-delay: 300ms;
}
.delay3 {
  animation-delay: 500ms;
}
.delay4 {
  animation-delay: 700ms;
}
.delay5 {
  animation-delay: 1000ms;
}
.slide-right1 {
  animation: slideRight 1.5s;
}
.slide-left1 {
  animation: slideLeft 1.5s;
}
.slide-down1 {
  animation: slideDown 1.5s;
}
.hover-lift {
  transition: all 0.3s ease !important;
}
.hover-lift:hover {
  transform: translateY(-5px);
}
* {
  font-family: clashDisplayRegular !important;
  font-weight: 600 !important;
  color: #00b18f !important;
  font-size: 18px;
}
/* dont change /\ */

/* lottie animation */
.animation-cover {
  width: 90%;
  height: 90%;
}
/*  */

header {
  min-height: 100vh !important;
  width: 100% !important;
  background-color: #f2fbf9;
}

.modal-body {
  font-family: "Poppins" !important;
  font-size: 18px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 30px !important;
}

.idk {
  font-family: clashDisplayMedium !important;
  color: #00b18f;
  font-size: 58px;
}

.services {
  width: 100%;
  min-height: 100vh;
  padding-left: 108px;
  padding-right: 108px;
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 1200px) {
}
