/////////////////////////////////
//   MOBILE RESPONSIVENESS     //
/////////////////////////////////
$tablet: "screen and (max-width: 768px)";

/////////////////////////////////
//           COLORS            //
/////////////////////////////////
$black: #000;
$white: #ffffff;
$accent: #00b18f;
$gray: #63727e;
